<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>roman cipher converter</title>
</head>

<body>
<h1>Roman Cipher converter</h1>
<div>
  <span>Number:</span>
  <span><input id="number" type="text" autoComplete="off" size="5"></span>
  <button id="submit-button" >convert</button>
</div>
<div style="margin-top: 10px">
  <span>Result:</span>
  <span id="result"></span>
</div>
<script src="index.js"></script>
</body>
</html>